<div class="container">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <label for="noteName">New note name</label>
          <input type="text" class="form-control" name="noteName" placeholder="Enter note name" [(ngModel)] = "noteNameInput"/>
        </div>
        <div class="form-group">
          <label for="noteContent">Note content</label>
          <textarea class="form-control" name="noteContent" placeholder="Enter note contents here" [(ngModel)] = "noteContentInput"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-5" (click)="onAdd($event)">Add</button>
      </form>
    </div>
  </div>
</div>
<hr/>
<div class="container"
  *ngFor="
    let note of notes;
    let note_index = index;
    let note_first = first;
    let note_last = last
    "
    >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{notes[note_index].name}}</h5>
        <p class="card-text">{{notes[note_index].text}}</p>
        <button type="sumbit" class="btn btn-primary" (click)="onDelete($event, note_index)">Delete</button>
      </div>
      <div class="card-footer text-muted">{{notes[note_index].createDate}}</div>
    </div>
</div>
